/*@mainbd: #24890d;*/
/*@mainbg: #68a607;*/
.clearf {
  clear: both;
}
.clearf:after,
.clearf:before {
  content: " ";
  display: table;
  clear: both;
}
.sizing-border {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.sizing-content {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
}
#topmenu ul.nav li a {
  font-weight: 600;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  #topmenu ul.nav li a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .aboutus_box .about_content {
    padding-left: 20px;
  }
  #topmenu ul.nav li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #home_slider .bx-wrapper .bx-caption {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 425px;
  }
  .hb_frame {
    width: 50%;
    float: left;
  }
  .pd0{
    padding-right: 15px;
  }
  .hb_frame:last-child {
    width: 100%;
}
.list_video.fix_vd {
    overflow-x: scroll;
    margin-bottom: 10px;
}

.list_video.fix_vd ul {
    width: 100%;
    overflow: hidden;
    width: 620px;
}
#popup-content{
  padding-bottom: 20px;
}
.box_action textarea{
  height: 100px;
}
div#popup-content .pro_info p{
  font-size: 13px;
}
.hbox3{
  padding:0;
}
 .product_item .thumb {
    width: 100%;
 
  }
  .hb3_thumb {
    margin-bottom: 25px;
}
.b3_icon_img span{
  font-size: 14px;
}
.product_item{
  height: unset;
}
  .item .product_item .thumb{
    height: 220px;
  }
  .item h3.product_title {
    font-size: 16px;
  }
  h3.product_title {
    
    padding-bottom: 0;

  }
  .ntx-title,.title-box{
  font-size: 18px;
}
.b3_icon_img {
    margin-bottom: 15px;
}
.menu_left, .menu_right,#topmenu,.search_box{
  display: none;
}
  h2.single-title-product.product-title {
    font-size:19px;
    margin: 10px 0;
}
.pro_quanlity {
    float: left;
    width: 40%;
}
span.cols2 {
    padding: 0 15px;
}
.box_right_pro .tel,.box_right_pro .face{
  width: 100%;
  float: unset;
}
.box_right_pro .tel a {
    margin-bottom: 5px;
}
  .box_price{
    font-size: 12px;
  }
  #header {
    padding-top: 5px;
    padding-bottom: 5px;
    position: unset;
  }
  .head_hotline,#topmenu {
    display: none;
  }
  #header .logo {
    text-align: center;
  }
  #header .logo img {
    height: 50px;
  }
  i.fa.fa-bars {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 9999;
    font-size: 18px;
    color:#fff;
  }
 .post_list_col{
  height: unset;
 }
 .single-title, .page-title{
  line-height: 150%;
 }
  .hb3_thumb img{
    height: unset;
  }
  .head_product{
    padding: 25px 0 0 0;
  }
  #home_slider .fa {
      position: absolute;
      top: 20%;
      background: transparent;
      padding-top: 5px;
      color:#8a3c18;
  }
  .section-one,#home-parallax,#home-quality,#home-testimonials,#home-featured-products, #new_blog,#footer{
    padding: 20px 0;
  }
  #page {
    position: relative;
  }
  #breadcrumb-wrapper.breadcrumb-w-img{
    background-attachment: unset;
    background-position:top center;
    height: unset;
  }
  .hqu-center-img.text-center,.hqu-right {
    display: none;
  }
  #home-quality .hqu-left .hqu-item .hqu-img {
    float: none;
    display: block;
    margin: auto;
  }
  .hqu-content.text-right {
    text-align: justify;
    margin-top: 15px;
  }
  .hqu-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }
  section#gallery{
    margin-bottom: 20px;
  }
  #home-quality .hqu-right > .grid > .grid__item, #home-quality .hqu-left > .grid > .grid__item{
    margin-bottom: 20px;
  }
  h2.section-title {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.4258;
  }
  .hqu-desc{
    width: 270px;
  }
  .col_gallery{
    width: 50%;
  }
  #home-testimonials .testi-item{
    width: 100%;
  }
  .hau-btn.text-center {
    margin-bottom: 20px;
  }
  #home_slider .ms-slogan {
    position: unset;
    font-size: 14px;
    line-height: 1.4258;
    padding-top: 5px;
  }
  #header .site_title {
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 5px;
  }
  #header .hotline span,
  #header .hotline strong {
    font-size: 20px;
  }
  .nav_items li {
    display: block;
    width: 100%;
  }
  .page-title,
  .single-title {
    font-size: 18px;
  }
  .aboutpj_box .tab_posts .tab-pane {
    display: block;
    opacity: 1;
  }
  .aboutus_box .avatar .inner {
    margin: auto;
  }
  .aboutus_box .about_content {
    padding-left: 5px;
  }
  .aboutus_box .about_content .name {
    text-align: center;
  }
  .proce_posts .post:after {
    top: 100%;
    right: 50%;
  }
  .proce_posts .post .excerpt {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .proce_posts .post:hover .excerpt {
    color: #fff;
    border: none;
  }
  .process_box .panel_content {
    display: none;
  }
  #footer .ftcol {
    margin-bottom: 25px;
  }
  #footer .sub-title {
    text-align: left;
  }
  .banks li {
    text-align: left;
  }
 .ft_slogan {
    text-align: center;
    line-height: 150%;
}
.head1>.row {
    margin: 0;
}
  .banner {
    text-align: center;
  }
  .banner a,
  .banner img {
    display: inline-block;
  }
  .prhead form.wpcf7-form > p {
    width: 100%;
  }
  .prhead form.wpcf7-form input[type="submit"] {
    margin-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 360px;
  }
  #header .hotline {
    line-height: 14px;
  }
  #header .site_title {
    font-size: 16px;
  }
  #topmenu ul.nav li a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .single-title,
  .page-title {
    font-size: 16px;
  }
  .advices_box li {
    width: 100%;
    margin-bottom: 15px;
  }
  .advices_box li:first-child {
    margin-left: 0;
  }
  #header .hotline span,
  #header .hotline strong {
    font-size: 16px;
  }
  #header .hotline span {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .single-title,
  .page-title {
    font-size: 14px;
    font-weight: 600;
  }
  #header .site_title {
    font-size: 14px;
  }
  .container {
    width: calc(100% - 10px);
  }
}
@media screen and (min-width: 768px) {
  .reason_box .post_row .post {
    width: 20%;
    min-height: 267px;
  }
  .review_box .review_col {
    /*padding-right: 25px;*/
  }
  .review_box .customer_col {
    padding-left: 25px;
  }
}
@media screen and (min-width: 992px) {
  .sidebar_col {
    float: right;
  }
  .content_col {
    float: left;
    padding-right: 20px;
  }
  #home_slider .bx-wrapper .bx-caption {
    border-bottom: 4px solid #006379;
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
      .container{ 
        width: 1300px;
    } 
  .aboutus_box {
    background-size: 100% 100% !important;
  }
}
/*# sourceMappingURL=fl_screen.css.map */