.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{background-color:transparent!important}
.dropdown-menu .dropdown-menu{position:absolute;left:100%;top:-3px;}
/*================ Typography ================*/
/*================ Typography ================*/
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/subset-UTMAvoBold.eot');
    src: local('UTMAvoBold'),
        url('../fonts/subset-UTMAvoBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-UTMAvoBold.woff2') format('woff2'),
        url('../fonts/subset-UTMAvoBold.woff') format('woff'),
        url('../fonts/subset-UTMAvoBold.ttf') format('truetype'),
        url('../fonts/subset-UTMAvoBold.svg#UTMAvoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/subset-UTMAvo.eot');
    src: local('UTM Avo'), local('UTMAvo'),
        url('../fonts/subset-UTMAvo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-UTMAvo.woff2') format('woff2'),
        url('../fonts/subset-UTMAvo.woff') format('woff'),
        url('../fonts/subset-UTMAvo.ttf') format('truetype'),
        url('../fonts/subset-UTMAvo.svg#UTMAvo') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/subset-UTMAvo-Italic.eot');
    src: local('UTM Avo Italic'), local('UTMAvo-Italic'),
        url('../fonts/subset-UTMAvo-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-UTMAvo-Italic.woff2') format('woff2'),
        url('../fonts/subset-UTMAvo-Italic.woff') format('woff'),
        url('../fonts/subset-UTMAvo-Italic.ttf') format('truetype'),
        url('../fonts/subset-UTMAvo-Italic.svg#UTMAvo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/subset-UTMAvo-BoldItalic.eot');
    src: local('UTM Avo Bold Italic'), local('UTMAvo-BoldItalic'),
        url('../fonts/subset-UTMAvo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-UTMAvo-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-UTMAvo-BoldItalic.woff') format('woff'),
        url('../fonts/subset-UTMAvo-BoldItalic.ttf') format('truetype'),
        url('../fonts/subset-UTMAvo-BoldItalic.svg#UTMAvo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/*============================================================================
#Sass Mixins
==============================================================================*/
.clearf {
  clear: both;
}
#prbanner {
position: fixed;
    bottom: 0px;
    left: 0%;
}
#prbanner .dong{
width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: 600;
    padding: 3px 6px;
    position: absolute;
    bottom: -15px;
    left: 150px;
}
#prbanner .prbt {
webkit-animation: btled 1s alternate infinite;
    -moz-animation: btled 1s alternate infinite;
    -o-animation: btled 1s alternate infinite;
    animation: btled 1s alternate infinite;
}
#prbanner .prbt img {
    width: 150px;
    height: auto;
    cursor: pointer;
}
#prbanner .prform{
position: absolute;
    bottom: 40px;
    left: -200%;
    background: #01596c;
    padding: 10px 10px 0 10px;
    color: #fff;
    width: 200%;
    max-width: 300px;
    display: block;
    border: 1px solid #fff;
    transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
#prbanner .slshow {
    left: 0;
}
#prbanner .prdesc{
text-transform: uppercase;
    text-align: center;
}
.prhead {
  background: #8a3c18;
  color: #fff;
  margin-bottom: 15px;
  padding: 15px 0 2px;
}
.prhead .prdesc {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
.prhead form.wpcf7-form {
  margin-bottom: 0;
  margin-left: -10px;
  margin-right: -10px;
  clear: both;
}
@media all and (min-width: 768px) {
.prhead form.wpcf7-form > p {
  float: left;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}
}
.prhead form.wpcf7-form input[type="submit"] {
  width: 100%;
  border: none;
  background: #ff0000;
  padding: 8px 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 19px;
}
.clearf:after,
.clearf:before {
  content: " ";
  display: table;
  clear: both;
}
.sizing-border {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.sizing-content {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
}
/*@mainbd: #24890d;*/
/*@mainbg: #68a607;*/
.titlebder {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.titlebder:after {
  content: "";
  display: block;
  border-bottom: 3px solid #009933;
  width: calc(50% - 5px);
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  bottom: -2px;
}
body, input, textarea, button, select {
    font-size: 14px;
    line-height: 1.6;
   font-family: 'UTM Avo', serif;
    color: #333333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
a {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header {
    padding: 8px 0;
    background: #261511;
    z-index: 999;
    left: 0;
    right: 0;
}
#header .hotline {
  font-size: 25px;
}
#header .hotline strong {
  font-size: 30px;
  color: #cc0000;
}
.hotline {
  color: #cc0000;
}
.hotline a {
  color: #cc0000;
}
.site_title {
  font-size: 25px;
  color: #222;
}
#topmenu {
    background: transparent;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    float: left;
    width: 100%;
}
#topmenu ul.nav li a {
  color: #fff;
  text-transform: capitalize;
}
#topmenu ul.nav li .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  min-width: 100%;
}
#topmenu ul.nav li .dropdown-menu li a {
    padding: 10px 15px;
    white-space: nowrap;
    background: rgba(38, 21, 17, 0.75);
    color: #fff;
    text-transform: none!important;
}
.dropdown-menu{background-color:transparent;}
#topmenu ul.nav li a:hover,
#topmenu ul.nav .active a,
#topmenu ul.nav li a:focus {
  color:#ffeb3b;
  font-weight: bold;
}
#topmenu .navbar-brand {
  color: #fff;
}
#topmenu .navbar-brand img {
  height: 100%;
  width: auto;
}
#topmenu .navbar-toggle {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border: 0;
  background: #8a3c18;
  border: 1px solid #fff;
}
/*.page-title,
.box-title,
sub-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 30px;
}*/
/*.page-title span,
.box-title span,
sub-title span {
  border-bottom: 1px solid #01596c;
  display: inline-block;
}*/
.page-title {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 600;
  text-align: left;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.single-title {
     font-size: 20px;
  margin-top: 30px;
  font-weight: 600;
  text-align: left;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.page-title:after,.single-title:after,.sb_title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    border: 2px solid #261511;
    z-index: 1;
    width: 20%;
}
.sub-title {
  font-size: 18px;
}
.box_desc {
  font-size: 24px;
}
.box-title {
  font-size: 22px;
}
.pagebox {
  margin-bottom: 25px;
}
#home_slider li a img {
  width: 100%!important;
}
}
.posts .post .thumb img {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
.posts .title {
  font-size: 15px;
}
.posts .title a {
  color: #fdf1d0;
  display: inline-block;
  width: 100%;
}
.posts .title a:hover {
  color: #dd6334;
}
.posts .title:hover .thumb img {
  opacity: 0.7;
}
.row_posts .post {
  background: #f4f3f3;
  margin-bottom: 20px;
}
.row_posts .post .thumb iframe {
  margin: 0;
  padding: 0;
}
.row_posts .title {
  margin-top: 0;
}
.row_posts .title a {
  color: #222;
  font-weight: 700;
}
.row_posts .post_desc .inner {
  padding: 15px;
  color: #000;
}
.grid_posts .post {
  margin-bottom: 20px;
}
.grid_posts .post .thumb {
  overflow: hidden;
  text-align: center;
}
.grid_posts .post .thumb img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.grid_posts .post .title {
  margin: 0;
}
.grid_posts .post .title a {
  background: rgba(0, 99, 121, 0.8);
  margin: 0;
  padding: 10px;
}
.grid_posts .post:hover .thumb img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.media_posts .post {
    display: block;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
}
.media_posts .post:last-child {
    border: none;
}
.media_posts .post .thumb {
  width: 80px;
}
.media_posts .post .thumb img {
  width: 100%;
  height: auto;
}
.media_posts .post .title {
  margin-top: 0;
  color: #000;
}
.media_posts .post:hover .title {
  color: #261511;
}
.paginate {
  text-align: center;
  margin-bottom: 30px;
}
.paginate a,
.paginate span {
  padding: 5px 8px;
  border: 1px solid #ccc;
  font-weight: 600;
}
.paginate .current {
  background:#261511;
  color: #fff;
}
.entry_content,
.tax_desc {
  margin-bottom: 30px;
}
.entry_content p,
.tax_desc p,
.tax_desc div,
.entry_content table,
.tax_desc table,
.entry_content img,
.tax_desc img,
.entry_content figure,
.tax_desc figure {
  max-width: 100%!important;
  height: auto!important;
}
.entry_content img,
.tax_desc img {
  margin: 10px 0;
}
table tr td {
  padding: 5px 8px;
}
table td {
  border: 1px solid #ddd;
}
#popup_hepler {
  padding: 5px 5px 0;
  z-index: 1005;
  position: fixed;
  bottom: 0;
  right: 3px;
  background: #003333;
  color: #fff;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-border-top-right-radius: 10px;
  width: 165px;
}
#popup_hepler .hclose {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: 600;
  padding: 3px 6px;
  position: absolute;
  top: -25px;
  right: 0;
}
#popup_hepler .avatar {
  width: 86.25px;
  height: 86.25px;
  overflow: hidden;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #fff;
  padding: 7px;
  position: relative;
}
#popup_hepler .avatar img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#popup_hepler .name {
  padding-top: 5px;
  display: inline-block;
  line-height: 25px;
  white-space: normal;
}
#popup_hepler .hotline {
  margin-top: 5px;
  text-align: center;
}
#popup_hepler .hotline a {
  font-size: 24px;
  font-weight: 600;
}
.aboutpj_box .page-title {
  text-align: center;
}
.aboutpj_box .page-title:after {
  display: none;
}
.aboutpj_box .nav_box {
  text-align: center;
  margin: 25px 0;
  background: #ddd;
}
.aboutpj_box .nav_items {
  display: inline-block;
  vertical-align: top;
  border: none;
}
.aboutpj_box .nav_items li {
  margin: 0;
}
.aboutpj_box .nav_items li a {
  margin: 0;
  border: none;
  color: #000;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  padding-left: 25px;
  padding-right: 25px;
}
.aboutpj_box .nav_items li.active {
  margin-bottom: 0;
}
.aboutpj_box .nav_items .active a,
.aboutpj_box .nav_items li a:focus,
.aboutpj_box .nav_items li a:hover {
  background: #8a3c18;
  color: #fff;
  border: none;
}
.aboutus_box {
  background-size: auto 100%!important;
  padding: 30px 0;
  color: #fff;
}
.aboutus_box .about_content .desc {
  font-size: 20px;
  margin-bottom: 15px;
}
.aboutus_box .avatar .inner {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border: 3px solid #fdf1d0;
  padding: 2px;
  position: absolute;
}
.aboutus_box .avatar .inner img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
  width: 100%;
}
.tab_posts .post .title {
  /*display: none;*/
}
.tab_posts .post .readmore a {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.featured_posts .post .title {
  text-align: center;
  margin-top: 10px;
  background: transparent;
}
.featured_posts .post .title a {
  background: transparent;
  color: #000;
}
.featured_posts .post .title a:hover {
  color: #dd6334;
}
.building_box .grid_posts .post .thumb img {
  width: 100%;
  height: auto;
}
.proce_posts {
  margin-bottom: 20px;
}
.proce_posts .box-title {
  padding-bottom: 10px;
}
.proce_posts .box-title span {
  border-bottom: 1px solid #01596c;
}
.proce_posts .post {
  position: relative;
  cursor: pointer;
}
.proce_posts .post .thumb {
  text-align: center;
}
.proce_posts .post .thumb img {
  display: inline-block;
  width: 150px;
  height: 150px;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
    -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.proce_posts .post .title {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.proce_posts .post:hover .thumb img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
    -webkit-transition: all 5s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  overflow:hidden;
}
.proce_posts .post .inner {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 235px;
}
.proce_posts .post:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/icon-next.png) no-repeat;
  position: absolute;
  top: 40%;
  right: -10px;
}
.proce_posts .post:last-child:after {
  display: none;
}
.proce_posts .post:hover .inner {
  background: #8a3c18;
}
.proce_posts .post:hover .thumb img {
  transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}
.proce_posts .post:hover:after {
  display: none;
}
.proce_posts .post:hover .title {
  color: #fff;
}
.proce_posts .post .excerpt {
  display: none;
}
.panel_box {
  padding: 25px;
  border: 1px solid #000;
}
.reason_box {
  padding: 30px 0;
  background: #8a3c18;
}
.reason_box .box-title {
  color: #fff;
  font-weight: 600;
}
.reason_box .box-title span {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.reason_box .post_row .post {
  margin-bottom: 0;
  cursor: pointer;
}
.reason_box .post_row .post .inner {
  padding: 15px;
}
.reason_box .post_row .post .thumb {
  overflow: visible;
}
.reason_box .post_row .post .thumb .img {
  max-width: 100%;
  height: auto;
  transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}
.reason_box .post_row .post .title {
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 23px;
}
.reason_box .post_row .post:hover .thumb img {
  transform: rotateY(360deg) scale(1.2);
  -moz-transform: rotateY(360deg) scale(1.2);
  -webkit-transform: rotateY(360deg) scale(1.2);
  -o-transform: rotateY(360deg) scale(1.2);
}
.reason_box .post_row .post:hover .title {
  color: #dd6334;
}
.qcol .sub-title {
  padding: 10px 15px;
  background: #8a3c18;
  color: #fff;
  margin-bottom: 0;
}
.qcol .sub-title i {
  color: #fdf1d0;
}
.qcol .box_content {
  padding: 15px;
  border: 1px solid #ccc;
  border-top: 0;
}
.qcol .panel-group {
  margin-bottom: 10px;
}
.qcol .panel-group li.panel .panel-heading {
  background: #8a3c18;
}
.qcol form input {
  margin-top: 6.5px;
}
.qcol form input[type="submit"] {
  border: none;
  padding: 10px 15px;
  background: #8a3c18;
  color: #fff;
}
.qcol form input[type="submit"]:hover {
  background:linear-gradient(to right,#d8ad45,#c59542);
}
.review_box {
  padding: 30px 0;
  background: #f4f4f4;
}
.review_box .sub-title {
  margin-bottom: 30px;
}
.review_box .sub-title span {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.review_box .row_posts .post .thumb img {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
.review_box .row_posts .post .title {
  font-weight: 600;
}
/*page*/
.tax_desc {
  margin: 20px 0 30px;
}
.related_box {
  margin-bottom: 30px;
}
.related_posts .post {
  margin-bottom: 15px;
}
/*end page*/
/*sidebar menu*/
.sb_box {
  margin-bottom: 25px;
}
.sidebar_col {
  margin-top: 15px;
}
.sidebar_col .box-title {
    padding: 10px 15px;
    color: #fff;
    font-size: 17px;
    text-align: left;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    padding-bottom: 10px;
    background: #fb8eb2;
}
.sidebar_col .media_posts .post .thumb img {
  /*.border-radius(100%);*/
  border: 1px solid #ddd;
  padding: 1px;
}
.sidebar_col .media_posts .post .title {
    margin-top: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
}
.sidebar_menu_box .sidebar_menu li a {
  color: #000;
  padding: 10px 15px;
  display: block;
}
.sidebar_menu_box .sidebar_menu li a:hover {
  color: #dd6334;
}
.sidebar_menu_box .sidebar_menu li.current-menu-item a {
  color: #dd6334;
}
.sidebar_menu_box .sidebar_menu > li > a {
  /*background: @mainbg;*/
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  color: #006379;
  position: relative;
  padding-bottom: 10px;
}
.sidebar_menu_box .sidebar_menu > li > ul.sub-menu > li.current-post-parent > a {
  color: #dd6334;
}
.sidebar_menu_box .sidebar_menu > li > ul.sub-menu > li.current-post-parent > ul {
  display: block;
}
.sidebar_menu_box .sidebar_menu > li > ul.sub-menu > li > a {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.sidebar_menu_box .sidebar_menu > li > ul.sub-menu > li > a i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 15px;
  font-size: 16px;
}
.sidebar_menu_box .sidebar_menu > li > ul.sub-menu > li > ul {
  display: none;
  padding-left: 10px;
  background: #f4f4f4;
}
.sidebar_menu_box .sidebar_menu > li > ul.sub-menu > li > ul > li > a {
  border-bottom: 1px dotted #dd6334;
}
/*end sidebar menu*/
/*single subs form*/
.advices_box {
  width: 100%;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -10px;
}
.advices_box li {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  width: 32%;
  display: inline-block;
}
.advices_box li:first-child {
  margin-left: 5%;
}
.advices_box li .icon {
  color: #01596c;
}
.advices_box li .icon img {
  display: inline-block;
}
.advices_box li .title {
  font-size: 14px;
}
.advices_box li:hover {
  color: #dd6334;
}
.fadebox .modal-content {
border-radius: 0;
  background-image:url(../images/popup_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: left;
  box-shadow: 0 0 10px #333;
}
.fadebox .close {
  font-size: 30px;
}
.fadebox h2,
.fadebox h3 {
  font-weight: 600;
  text-align: center;
  color: #222;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}
.fadebox h4 {
  color: #01596c;
  text-align: center;
}
.fadebox input[type="submit"] {
  padding: 10px 20px;
  font-weight: 600;
  color: #fff;
  background: #8a3c18;
  border: none;
}
/*end single subs form*/
#footer {
padding:25px 0px;
    color: #ffffff;
    position: relative;
    background-image: url(../images/ft_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
}
#footer .sub-title {
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
}
h3.sub-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    border: 2px solid #f4cf00;
    z-index: 1;
    width: 25%;
}
.ft_bx li .fa {
    color: #d6ab60;
}
#footer ul li {
  padding: 5px 0;
}
#footer ul li a {
  color: #fff;
}
#footer ul li:hover {
  color: #dd6334;
}
#footer ul li:hover a {
  color:#f4cf00;
}
a {
    color: #dd6334;
    text-decoration: none;
}
#footer .banks {
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}
#footer .banks li {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  width: 49%;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
.ggmap {
  margin: 20px 0;
}
.ggmap iframe {
  width: 100%!important;
  height: 300px!important;
}
.contact_page .infos li {
  padding: 5px 0;
}
.contact_page .infos li i {
  display: inline-block;
  width: 18px;
}
.contact_page .sub-title {
    font-size: 20px;
    margin: 15px 0;
    text-align: left!important;
    font-weight: bold;
}
.contact_page .sub-title:after {
   display: none;
}
.contact_form.qcol textarea {
    height: 195px;
}
.contact_page .contact_form {
  margin: 20px 0;
}
#to_top {
  position: fixed;
  top: 75%;
  right: 10px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2000;
  display: none;
}
#to_top a {
    padding: 12px 16px;
}
.copyright {
  padding: 12px 0;
  background: #000;
  color: #fff;
}
.copyright p {
  margin-bottom: 0;
  text-align: center;
}
.entry_content ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.alignleft{display:inline;float:left;margin-right:1.625em}
.alignright{display:inline;float:right;margin-left:1.625em}
.aligncenter{clear:both;display:block;margin-left:auto!important;margin-right:auto!important;}
.wp-caption {
    margin-top: .4em
}
.wp-caption {
    margin-bottom: 1.625em;
    max-width: 100% !important;
    padding: 9px
}
.wp-caption img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto
}
.social>.social {
    padding-top: 15px;
}
.head_hotline {
  color: #8a3c18;
    text-align: right;
    margin-top: 10px;
}
.mrt10{
  margin-top: 10px;
}
.logo img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
.head_hotline .fa {
    color:#8a3c18;
}
.head_hotline a{
  color:#8a3c18;
}
.social .fa {
    color: #8a3c18;
}
div#to_top .btn.btn-primary {
    background: #ea9400;
    border: none;
    border-radius: 100%;
}
div#to_top .fa {
    font-size:  18px;
    color:#fff;
}
#footer .container{
  position: relative;
  z-index: 999;
}
#home_slider img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
#home_slider li {
    list-style: none;
}
#home_slider .carousel-control {
    opacity: 1!important;
}
#home_slider {
    position: relative;
}
#home_slider .fa {
    position: absolute;
    top: 50%;
    border-radius: 100%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    background: rgba(38, 21, 17, .75);
    padding-top: 5px;
    color: #fff;
    margin: auto;
    left: 0;
    right: 0;
}
#home_slider .ms-slogan {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(38, 21, 17, .75);
    height: 50px;
    line-height: 50px;
    padding: 0px 15px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}
#home_slider .carousel-indicators {
}
#home_slider .carousel-indicators li{
  background-image:url('../images/bgdothv.png');
  width:15px!important;
  height:15px!important;
  background-color: rgba(255,255,255,0);
  border:none;
}
#home_slider .carousel-indicators .active{
   background-image:url('../images/bgdot.png')!important;
   margin:1px!important;
}
#myModal .modal-header button {
    border: none!important;
    background-color: transparent!important;
}
#myModal .fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    outline:none;
}
#myModal .fancybox-close {
     background-image: url(../images/fancybox_sprite.png);
}
h2.section-title {
    color: #333333;
    margin: 0 0 50px;
    position: relative;
    text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
}
h2.section-title:after {
    content: '';
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 3px;
    width: 60px;
    background: #333333;
}
.section-one {
    padding: 25px 0px;
}
.lh_cotnent {
    text-align: justify;
    font-weight: 500;
}
.lh_cotnent .hau-btn > a {
    display: inline-block;
    padding: 5px 20px;
    background: #261511;
    color: #fff;
    border-radius: 30px;
}
.lh_cotnent .hau-list ul > li {
    margin-bottom: 15px;
    padding-left: 15px;
    position: relative;
}
.lh_cotnent .hau-list ul {
    margin: 0px;
}
.no-bullets {
    list-style: none outside;
    margin-left: 0;
}
.lh_cotnent .hau-list ul > li:after {
    content: '\f111';
    position: absolute;
    top: 8px;
    left: 0px;
    font-family: FontAwesome;
    font-size: 8px;
    color: #8a3c18;
    line-height: normal;
}
#myModal .modal-dialog {
    top: 25%;
}
#myModal .modal-header{
  padding: 0;
  border:none;
}
#myModal .modal-body{padding: 0}
.popup-wrapper {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 15px 0 15px;
}
#home-parallax {
    padding: 25px 0;
    position: relative;
    z-index: 0;
    padding-bottom: 0;
}
#home-parallax .hp-content .hpa-number {
    font-size: 60px;
    color: #fff;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
#home-parallax > .hpa-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
#home-parallax > .container > .inner {
    position: relative;
    z-index: 2;
}
.product_item img {
    width: 100%;
/*    height: 220px;*/
}
.product_owl .product_item{
  background: #fff;
}
h3.product_title {
    margin: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4258;
    height: 25px;
    overflow-x: hidden;
}
#home-parallax .hp-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
}
#home-parallax .hp-content .hpa-number {
    font-size: 60px;
    color: #fff;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
#home-parallax .hp-content .hpa-text {
    font-size: 24px;
    color: #fff;
    margin-top: 6px;
    text-transform: uppercase;
}
.popup-form form button {
    height: 30px;
    line-height: 30px !important;
    padding: 0 10px;
    margin: 0;
    border-radius: 0px;
    color: #fff;
    background:#8a3c18;
    outline: 0 !important;
    box-shadow: none;
    float: right;
    border:none;
}
.popup-social-network .fa {
    padding-top: 6px;
    font-size: 18px;
}
.popup-social-network {
    display: inline-block;
    color: #fff;
    background:#8a3c18;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    border-radius: 50%;
}
.popup-list ul li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 15px;
    color: #333333;
}
.popup-list ul li:last-child {
    margin: 0 !important;
}
.popup-list ul li:after {
    content: '\f111';
    font-family: FontAwesome;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    font-size: 6px;
    color: #8a3c18;
}
.popup-form form input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #333333;
    background: #fff;
    border: 1px solid#8a3c18;
    border-radius: 0px !important;
    outline: 0 !important;
    margin-bottom: 15px;
}
#home-quality {
    padding: 50px 0px;
}
#home-quality .hqu-left .hqu-item .hqu-img {
    float: right;
    display: inline-block;
    height: 80px;
    width: 80px;
    position: relative;
    border: 1px solid #dd6334;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}
#home-quality .hqu-right .hqu-item .hqu-img {
    float: left;
    display: inline-block;
    height: 80px;
    width: 80px;
    position: relative;
    border: 1px solid #dd6334;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
#home-quality .hqu-right .hqu-item .hqu-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45px;
}
#home-quality .hqu-left .hqu-item .hqu-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45px;
}
#home-quality .hqu-right > .grid > .grid__item,#home-quality .hqu-left > .grid > .grid__item {
    margin-bottom: 80px;
}
.col_gallery {
    float: left;
    width:20%;
    overflow: hidden;
}
.col_gallery  img {
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 2px solid #fff;
    max-width: 100%;
}
.col_gallery:hover img{
  transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
        border: 2px solid #fff;
}
.fancybox-nav span {
    visibility: visible!important;
}
#home-testimonials {
    position: relative;
    color: #fff;
    padding: 50px 0px;
    background: url(../images/testi.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin:25px 0;
}
#home-testimonials .container {
    position: relative;
    z-index: 2;
}
#home-testimonials .ht-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(38, 21, 17, 0.5);
    z-index: 1;
}
#home-testimonials > .container > .inner {
    position: relative;
    z-index: 2;
}
#home-testimonials h2.section-title {
    color:#8a3c18!important;
}
#home-featured-products,#new_blog {
    padding: 50px 0px;
} 
.testi-img img {
    width: unset!important;
    max-width: 100%;
    display: block;
    margin: auto;
}
#home-testimonials .testi-item .testi-img {
    margin: 0 auto 15px;
    overflow: hidden;
}
#home-testimonials h2.section-title:after{background:#8a3c18;}
#home-testimonials .testi-item {
    width: 40%;
    margin: 0px auto;
}
#home-testimonials .testi-item .testi-title {
    color:#8a3c18;
    text-transform: uppercase;
}
#home-testimonials .testi-item .testi-desc {
    color:#000;
    text-align: justify;
    margin-bottom: 15px;
    font-weight: 400;
}
#home-testimonials .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    left: 10px;
    width: 25px;
    height: 25px;
background:rgba(138, 60, 24, 0.5);
    padding: 5px 10px;
    border-radius: 100%;
  -webkit-border-radius:100%;
}
#home-testimonials .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    right: 10px;
     width: 25px;
    height: 25px;
    background:rgba(138, 60, 24, 0.5);
    padding: 5px 10px;
        border-radius: 100%;
  -webkit-border-radius:100%;
}
#breadcrumb-wrapper.breadcrumb-w-img {
    height: 400px;
    padding: 30px 0;
    background: url(../images/bg_head.jpg);
   background-position: center -85px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
#breadcrumb-wrapper.breadcrumb-w-img .breadcrumb-overlay {
   /* position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(250, 233, 172, .5);
    z-index: 1;
}
#breadcrumb-wrapper.breadcrumb-w-img .breadcrumb-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
}
.entry_content p{text-align:justify;}
#breadcrumb-wrapper.breadcrumb-w-img .breadcrumb-content .breadcrumb-big h2 {
    font-size: 28px;
    color: #000;
    padding: 0px;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px;
}
#breadcrumb-wrapper.breadcrumb-w-img .breadcrumb-content .breadcrumb-small a {
    display: inline-block;
    position: relative;
    color:#fff;
    font-weight: 400;
}
ul#breadcrumbs li {
  font-weight: 400;
    display: initial;
    color:#fff;
}
.sub_single_title {
    margin-bottom: 5px;
}
.sub_single_title .date,.sub_single_title .comment,.sub_single_title .aritcle-author{display: inline-block;margin-right:15px;font-weight: 300;}
.intro_blog {
    display: contents;
    float: left;
    padding: 10px;
    margin-bottom: 30px;
    background: #e1e1e1;
    width: 100%;
}
.entry_content p {
    font-weight: 400;
}
.content_tag a {
    display: inline-block;
    padding: 5px;
    margin: 3px 3px 3px 0px;
    border: 1px dashed #333333;
    color: #333333;
}
.content_tag a:hover{color:#8a3c18;}
.related_title{text-transform: uppercase;font-weight: bold;font-size: 18px;}
ul.related_post_list li a {
  position: relative;
    display: inline-block;
    padding-left: 15px;
    color: #333333;
    font-weight: 300;
}
ul.related_post_list li a:before{
      content: '\f111';
    font-family: FontAwesome;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    font-size: 6px;
    color: #333333;
}
ul.related_post_list li a:after{
      content: '';
    display: block;
    border-bottom: 1px solid #8a3c18;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
ul.related_post_list li a:hover,ul.related_post_list li a:hover:before{
  color:#8a3c18;
}
ul.related_post_list li a:hover:after {
  width: 100%; }
ul.related_post_list li a:hover:before {
  color: #8a3c18; }
ul.related_post_list li a:before {
  content: '\f111';
  font-family: FontAwesome;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  font-size: 6px;
  color: #333333; 
}
#new_blog .owl-nav .owl-prev {
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 0px;
    width: 35px;
    height: 35px;
    background: rgba(138, 60, 24, 0.5);
    padding: 5px 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    color: #fff;
}
#new_blog .owl-nav .owl-next {
    font-size: 24px;
    position: absolute;
    top: 45%;
    right: 0px;
    width: 35px;
    height: 35px;
    background: rgba(138, 60, 24, 0.5);
    padding: 5px 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    color: #fff;
}
h3.news_title_slider {
  margin-top: 0;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
}
h3.news_title_slider:hover{color:#8a3c18;}
#new_blog .sub_single_title{margin-bottom: 10px;}
.ft-sub-desc {
    margin-bottom: 15px;
}
.ft-sub-wrapper form input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    outline: 0px;
    border: 0px;
    background: #fff;
    color: #333333;
}
.ft-sub-wrapper form button:hover {
    background: #be4c20;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
}
.input-group-field, .input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
.ft-sub-wrapper form button {
    padding: 0px 30px;
    height: 40px;
    line-height: 40px;
    outline: 0px;
    border: 0px;
    color: #fff;
    background: #dd6334;
    font-size: 18px;
}
#footer ul.infos {
    margin-bottom: 10px;
}
.ft_social > a {
    display: inline-block;
    margin-right: 15px;
    color: #ffffff;
}
.ft_social i {
    font-size: 22px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color:transparent;
}
#home_contact {
    padding: 50px 0;
    background: #f6f6f7;
}
#home_contact .hco-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#home_contact .hco-item .hco-desc{margin-bottom:10px;font-weight: 400;}
#home_contact .hco-item .hco-viewmore a {
    display: inline-block;
    text-transform: uppercase;
    color: #dd6334;
}
#home_contact .hco-item {
    margin-bottom: 30px;
}
#home_contact .grid_ctf {
    padding: 30px 15px;
    background: #8a3c18;
    color: #fff;
}
.ct_col {
    width: 50%;
    float: left;
    padding: 0 5px;
}
.ct_col textarea.form-control{
  height: 300px;
}
.ct_note{font-style: italic;font-weight: 300;}
.grid_ctf input.wpcf7-form-control.wpcf7-submit {
    background: #ced06b;
    border: none;
    padding: 3px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
}
.contact_page ul.infos li iframe {
    max-width: 100%;
    height: 265px;
}
.contact_page ul.infos{padding-left: 0}
.contact_page ul.infos li{list-style: none;}
.qcol form .form-control {
    border-radius: 0;
}
.blog-single-item .section-title .title h2 {
    display: inline-block;
    margin: 0;
    padding: 0 15px 0 0;
    background: #fff;
    color: #333333;
    position: relative;
    z-index: 9;
    font-size: 20px;
    font-weight: bold;
}
.blog-single-item .section-title .title {
    float: left;
    display: inline-block;
    text-transform: uppercase;
}
.blog-single-item .section-title {
    margin-bottom: 30px;
    height: 24px;
    line-height: 24px;
}
.blog-single-item {
    margin-bottom: 30px;
    margin-top:30px;
}
.blog-single-item .section-title .viewmore {
    float: right;
 margin-top: -3px;
    display: inline-block;
}
.blog-single-item .section-title .viewmore a {
    display: inline-block;
    padding: 0 0 0 15px;
    background: #fff;
    color: #333333;
    position: relative;
    z-index: 9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog-single-item .section-title .viewmore a:after {
          content: '';
          display: block;
          border-bottom: 1px solid #dd6334;
          width: 0;
          position: absolute;
          left: 0;
          -webkit-transition: 1s ease;
          transition: 1s ease;
}
.blog-single-item .section-title .viewmore a:hover {
color: #dd6334;
 }
.blog-single-item .section-title .viewmore a:hover:after {
  width: 100%; 
}
.blog-single-item .section-title .line {
height: 1px;
width: 100%;
background: #e6e6e6;
transform: translateY(10px); 
}
.page-template-page-blog .owl-nav .owl-prev {
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 0px;
    width: 35px;
    height: 35px;
    background: rgba(138, 60, 24, 0.5);
    padding: 5px 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    color: #fff;
}
.page-template-page-blog .owl-nav .owl-next {
    font-size: 24px;
    position: absolute;
    top: 45%;
    right: 0px;
    width: 35px;
    height: 35px;
    background: rgba(138, 60, 24, 0.5);
    padding: 5px 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    color: #fff;
}
.blog_banner {
    margin: 15px 0;
}
.blog_banner img {
    max-width:  100%;
    height:  auto;
}
.news_item .sub_single_title{margin-bottom: 10px;}
.awnser .panel-heading {
    padding: 0;
    border: none;
    color:#000;
}
.awnser .panel{border:none;background:none;box-shadow:none;
}
.awnser .panel-body {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 0px;
    border: none!important;
    color:#000;
}
.awnser .panel-title {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.panel.panel-default {
    margin-bottom: 15px;
}
.panel-heading a[aria-expanded="true"],.panel-heading a:hover{color:#dd6334}
.archive_col .news_item {
    margin-bottom: 15px;
}
.archive_col .news_item img {
  width: 100%;
  display: block;
  margin:auto;
}
.sidebar_menu_box .sidebar_menu li a{
    color:#000;
    padding:5px 10px;
    display:block;
    color:#000
}
.sidebar_menu_box .sidebar_menu li a:hover{
    color:#6a0a0c
}
.sidebar_menu_box .sidebar_menu li.current-menu-item a{
    color:#f3ce73
}
.sidebar_menu_box .sidebar_menu>li>a{
    padding:10px 0;
    font-weight:600;
    font-size:13px;
    position:relative;
    padding-bottom:10px;
    border-bottom:1px solid #ddd
}
.sidebar_menu_box .sidebar_menu>li>ul.sub-menu>li.current-post-parent>a{
    color:#000
}
.sidebar_menu_box .sidebar_menu>li>ul.sub-menu>li.current-post-parent>ul{
    display:block
}
.sidebar_menu_box .sidebar_menu>li.menu-item-has-children>a{
    border-bottom:1px solid #ddd;
    position:relative
}
.sidebar_menu_box .sidebar_menu>li.menu-item-has-children>a i{
    position:absolute;
    top:0;
    right:0;
    padding:12px 15px;
    font-size:16px
}
.sidebar_menu_box .sidebar_menu>li>ul.sub-menu{
    display:none;
    margin-left:15px;
    padding-left: 0;
    background:#f9f9f9;
}
.sidebar_menu_box .sidebar_menu>li>ul.sub-menu>li>a{
    border-bottom:1px dotted #000;
    text-transform:lowercase
}
#home_product img{max-width: 100%;
display: block;
margin:auto;}
.news_item img {
    height: 210px;
}
.box_fanpage {
    height: 165px;
    overflow: hidden;
}
.carousel-control.left,.carousel-control.right{
  background: transparent;
}
.news_item {
    background: rgba(236, 246, 251, .25);
    padding: 8px;
    box-shadow: 0 0 2px #8a3c18;
}
.new_slider .item {
    padding: 2px;
}
.navbar-fixed-top{
  background:#261511!important;
  z-index: 9999;
}
.box_page {
    padding-top: 82px;
}
section#gallery {
  /*  margin-bottom: 50px;*/
}
.grid__item.large--one-whole.medium--one-third.small--one-whole:nth-child(3) {
    margin-bottom: 0!important;
}
.hqu-title {
    text-transform: capitalize;
    font-weight: bold;
}
.hqu-desc {
    font-weight: 400;
}
#home-parallax h2.section-title {
    color: #261511;
}
#home-parallax h2.section-title:after {
    background: #fff;
}
.product_item .thumb {
    position: relative;
    overflow: hidden;
}

.box_price {
    text-align: center;
    left: 0;
    right: 0;
    background:rgba(239, 225, 214, 0.5);
    font-size: 18px;
    font-weight: bold;
    color:#f00;
}
.product_item a {
    color: #000;
}
.page_sp {
    margin: 50px 0;
}
.head_product {
    padding: 50px 0;
}
h2.single-title-product.product-title {
    margin-top: 0;
    padding-bottom: 3px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 22px;
}
.subnum {
    float: left;
    background: #fff;
    width: 33%;
    height: 32px;
    position: relative;
    cursor: pointer;
}
.select_numbercart .number {
    border: none;
    outline: none;
}
.number {
    font-size: 16px;
    color: #333;
    float: left;
    width: 33%;
    height: 32px;
    text-align: center;
    font-family: Roboto_Bold, Arial, Tahoma;
}
.addnum {
    float: right;
    background: #fff;
    width: 33%;
    height: 32px;
    position: relative;
    cursor: pointer;
}
.buy input[type="submit"] {
    background: #83b735;
    border: none;
    display: block;
    margin: auto;
    padding: 4.5px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    outline: none;
}
.pro_quanlity {
    float: left;
    width: 18%;
}
.select_numbercart {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    position: relative;
    border: 1px solid #e7e7e7;
    background: #fff;
    border-radius: 4px;
    line-height: 32px;
    font-size: 15px;
    color: #333;
}
.subnum i {
    width: 12px;
    height: 2px;
    background: #b1b1b1;
    display: block;
    margin: 15px auto;
}
.addnum i:first-child {
    width: 10px;
    height: 2px;
    background: #b1b1b1;
    display: block;
    margin: 15px auto;
}
.addnum i:nth-child(2) {
    width: 2px;
    height: 10px;
    background: #b1b1b1;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
}
.btn-act {
    display: inline-block;
    float: left;
}
.content_info {
    padding: 0;
    text-align: justify;
    padding-top: 15px;
}
.gio-hang-main {
    background-color: #fff;
    padding: 20px;
    overflow-y: hidden;
}
.box-thanhtoan .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.box-thanhtoan .table-bordered {
    border: 1px solid #ddd;
}
.gio-hang-main img {
    width: 100px;
    display: block;
    margin: auto;
}
.box-thanhtoan td.price_all {
    color: #f00;
    font-weight: bold;
}
.tieptucmuahang {
    text-align: center;
    font-weight: bold;
    color: #fff;
    float: right;
    width: 200px;
    height: 32px;
    line-height: 32px;
    background-color: #9E9E9E;
    border-radius: 3px;
    margin-right: 15px;
}
.tongtien {
    text-align: center;
    font-weight: bold;
    color: #fff;
    float: right;
    width: 200px;
    height: 32px;
    line-height: 32px;
    background-color: #4CAF50;
    border-radius: 3px;
}
.dathang {
    text-align: center;
    font-weight: bold;
    color: #fff;
    float: right;
    width: 200px;
    height: 32px;
    line-height: 32px;
    background-color: #E91E63;
    border-radius: 3px;
    margin-right: 15px;
    border: none;
}
.box-thanhtoan {
    border: 1px solid #ccc;
    overflow-y: hidden;
    padding: 15px;
    margin-bottom: 15px;
}
.box-thanhtoan .title {
    font-weight: bold;
}
.box-thanhtoan hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
p.price {
    font-size: 22px;
    color: #f00;
}
.lh_img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.product_owl .owl-nav .fa {
    font-size: 28px;
    color: #8a3c18;
}
.product_owl .owl-prev {
    position: absolute;
    left: 0;
    top: 45%;
}
.product_owl .owl-next {
    position: absolute;
    right: 0;
    top: 45%;
}
.entry_content h1{font-size: 22px;line-height:1.4258;}
.entry_content h2{font-size: 20px;line-height:1.4258;}
.entry_content h3{font-size: 18px;line-height:1.4258;}
.entry_content h4{font-size: 16px;line-height:1.4258;}
.entry_content h5{font-size: 14px;line-height:1.4258;}
.entry_content h6{font-size: 14px;}
.action {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
/**/
h3.detail_post {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.content_info img {
    max-width: 100%;
    height: auto;
}
.search .fa {
    font-size: 16px;
    color: #fff;
}
.all-tt .gia strong, .gia-bg strong {
    color: #261511;
}
.all-tt strong {
    font-weight: bold;
}
.all-tt .gia {
    font-size: 15px;
    list-style: none;
    font-weight: bold;
}
.all-tt li.gia.gia-ban {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    list-style: none;
}
.all-tt .gia .col-gia-goc {
    float: left;
    width: 50%;
    text-align: center;
}
.all-tt .gia .col-gia-tiet-kiem {
    float: right;
    width: 50%;
    text-align: center;
}
.gia del {
    font-size: 12px;
    font-weight: normal;
}
.all-tt .gia .col-gia-tiet-kiem del strong {
    text-decoration: none;
    color: #10893d;
}
.box_meta h4.hotline {
    width: 100%;
    background: #271511 url(../images/icon-hotline.png) no-repeat 3px center;
    background-size: 36px auto;
    display: block;
    height: 45px;
    border-radius: 8px;
    line-height: 48px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: Futural;
    margin: 0;
    text-align: center;
}
.box_meta h4:hover {
    color: #ff8a00;
}
.box_call {
    clear: both;
}
ul.all-tt {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
}
ul.all-tt li{
    padding: 5px 0;
}
.content_info table {
    width: 100%;
    max-width: 100%;
}
.pro_info, .all-tt {
    margin-bottom: 15px;
}
.ftcol li {
    list-style: none;
    padding: 5px 0;
}
.box_gt {
    display: inline-block;
    width: 100%;
    margin: 25px 0;
}
p.star {
    text-align: center;
}
p.star .fa {
   color:#ffc107;
}
.col-haflt {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color:#f00;
}
.col-haflt.sale {
    color: #666;
}
.product_item {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
    height: 280px;
    overflow:hidden;
}
.ft_bx li a {
    color: #fff;
}
#menu-footer-menu li:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    margin: 0 10px 0 0;
    color: #fff;
}
.ft1 h3.sub-title {
    border: none!important;
}
.ft_logo {
    margin: 15px 0;
}
.ft_logo img {
    height: 80px;
}
.ft1 h3.sub-title:after{
  display: none;
}
#footer>.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(38, 21, 17, .85);
    z-index: 1;
}
.box_da_list {
    margin-top: 25px;
}
.project_col {
    position: relative;
    margin-bottom: 25px;
}
.wrap-product {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    transition: all .3s;
    background: rgba(38, 37, 37, 0.8);
    z-index: 1;
    padding:25px 25px;
}
.wrap-product>p {
    font-size: 36px;
}
.wrap-product > div, .wrap-product p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.project_col:hover .wrap-product {
    opacity: 1!important;
}
.thumb_da img {
    max-width: 100%;
    height:275px;
    width: 100%;
}
.mdh3 img {
    height: 200px;
}
.wrap-product p {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.full_col {
    overflow: hidden;
}
h3.da_title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #FF9800;
    line-height: 150%;
}
.mdh6 h3.da_title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #FF9800;
    line-height: 150%;
}
button.btn-xem {
    padding: 5px 25px;
    background: #261511;
    outline: none;
    color:#fff;
}
#slider-range, #budget-range {
    margin: 15px 0 15px 5px;
}
span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 100%;
    background:#261511;
    outline: none;
}
.ui-slider-horizontal .ui-slider-range{
  background:#261511;
}
input#amount-budget {
    width: 100%;
    border: none;
    text-align: center;
}
.loading {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/loading.gif) no-repeat;
    background-size: 100% 100%;
}
.sb_title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
}
li.cat-item {
    list-style: none;
    color: #000;
}
li.cat-item a{
    list-style: none;
    color: #000;
}
.ui-slider-horizontal{
  height: 5px!important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em!important;
}
.ui-slider-horizontal .ui-slider-range {
    background: #261511;
    border: 2.5px solid #261511!important;
}
.ui-slider .ui-slider-handle{
  width: 1em!important;
  height: 1em!important;
}
.mdh6 img {
    height: 423px;
}
.archive_col {
    margin-bottom: 15px;
}
.hau-btn.text-center {
    margin-top: 25px;
}
button.btn.btn-view {
    text-transform: uppercase;
    color: #333;
    margin-top: 25px;
}
button.btn.btn-view a {
    color: #000;
    font-weight: bold;
}
button.btn.btn-view a:hover{
  color:#fff!important;
}
button.btn.btn-view:hover{
  background: #261511;
  color:#fff!important;
}
.ft_gt {
    margin-bottom: 10px;
}
.menu_left ul li {
    float: right;
}
.menu_right ul li {
    float: left;
}
.head1 ul li {
    padding: 0 10px;
}
.head1 ul li a{
   color:#fff;
}
.list_video.fix_vd ul li {
    display: inline-flex;
    margin-top: 5px;
    cursor: pointer;
    padding-left: 0.9px;
}
.video_top iframe {
    width: 100%;
}
h3.ptitle {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.4258;
    margin-bottom: 0;
    font-weight: bold;
}
h3.ptitle a{
    color:#000;
}
.post_home .excerpt {
    font-size: 13px;
}
.post_home {
    margin-bottom: 19px;
}
.menu_left, .menu_right {
    display: inline-block;
    width: 100%;
    padding-top: 25px;
}
.hbox1 {
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}
.hbtext {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 150%;
    color: #002245;
    font-weight: bold;
}
.hb_frame{
  width: 20%;
  float: left;
}
h4.hb_title {
    margin: 5px 0;
    white-space: nowrap;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: rgba(22,22,22,1);
}
.img-responsive {
    display: block;
    margin: auto;
}
.title-box {
    border-bottom: 1px solid #fdd000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
    position: relative;
    top: -10px;
    font-size: 22px;
    font-weight: bold;
    color: #261511;
}
.title-box span {
    display: inline-block;
    background: #fff;
    padding: 0 30px;
    position: relative;
    top: 10px;
}
button.btn-xemthem {
    display: inline-block;
    background: linear-gradient(to right,#d8ad45,#c59542);
    border-radius: 3px;
    padding: 5px 15px;
    float: right;
    border: none;
}
button.btn-xemthem a {
    color:#fff;
}
.hb3_content {
    background:#dfdfdf;
    padding: 14px;
    text-align: justify;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.hb3_conten a{
  color:#61BC47;
}
.box3_icon .col-md-6 {
    margin-bottom: 0;
    padding: 15px;
}
.b3_icon_img img {
    float: left;
    width: 60px;
    margin-right: 15px;
}
.b3_icon_img span {
    padding: 0;
    font-size: 16px;
    position: relative;
    top: 10px;
    font-weight: 700;
    text-transform: uppercase;
     color:#261511;
}
.b3_icon_img {
    display: inline-block;
    width: 100%;
    height: 60px;
}
.ntx-title {
    margin: 15px 0;
    text-align: center;
    padding-bottom: 45px;
    text-transform: uppercase;
    color: #333333;
    font-size: 22px;
    font-weight: normal;
    background: transparent url(../images/ntx-title-icon.png) no-repeat scroll bottom center;
    font-weight: bold;
}
.box_ud {
    background-color: #fff;
    padding: 20px 0;
}
.pl-std-l-orders a {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f9264e;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
}
.pl-std-l-view a {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
   background: linear-gradient(to right,#d8ad45,#c59542);
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
}
  .pl-std-l-orders {
    float: right;
}
.pl-std-l-view {
    float: left;
}
.product_item .box_action {
    display: none;
    padding: 5px 15px 0 15px;
    transition: all .5s;
 
}
.product_item:hover .text_price{
  display:none;
}
.product_item:hover .box_action {
    display: inline-block;
    clear: both;
    width: 100%;
    margin-top: -10px;
}
.product_item:hover .col-haflt {
    margin-top:2px;
}
.box_price_item {
    display: inline-block;
    width: 100%;
}
.box_action p {
    margin-bottom: 0;
}
.search_box label {
    margin-top: 15px;
}
.search_box {
   text-align: right;
    cursor: pointer;
}
.entry_content h1{font-size: 22px;line-height:1.4258;}
.entry_content h2{font-size: 20px;line-height:1.4258;}
.entry_content h3{font-size: 18px;line-height:1.4258;}
.entry_content h4{font-size: 16px;line-height:1.4258;}
.entry_content h5{font-size: 14px;line-height:1.4258;}
.entry_content h6{font-size: 14px;}
form#searchform {
    float: right;
}
.box_hover {
    position: absolute;
    right: 10px;
    top: 58px;
    padding: 5px;
    background: rgba(38, 21, 17, 0.75);
  /*  border: 1px solid #ddd;*/
    z-index: 99;
    opacity: 0;
    transition: all .5s;
}
#header .search_box:hover .box_hover{
 opacity: 1;
}
#searchform {
    position: relative;
    margin: 0;
}
.box_hover input[type="submit"] {
    background-image: url(../images/icon-search.png);
    position: absolute;
    right: 0;
    padding: 3px 15px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65% 65%;
}
.box_hover input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    padding: 2px 5px;
    outline: none;
    color:#fff;
    width: 200px;
}
.search_box .fa {
    color: #fff;
}
.hb3_thumb img {
    height: 262;
}
/*.logo img {
    height: 80px;
}*/
.pro_info p {
    position: relative;
    color: #666666;
    margin: 4px 0;
    font-size: 16px;
}
.pro_info p:before {
    content: '';
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #cfcfcf;
}
.box_right_pro .order {
    padding: 0px 0px 5px;
}
.box_right_pro .order a {
    display: block;
    background-color:#fdd000;
    border-radius: 4px;
    text-align: center;
    padding: 3px 0px;
    color:#ed0202;
    text-decoration: none;
}
.box_right_pro .order a .cols1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
}
.box_right_pro .order a .cols2 {
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
}
.proDetail-send {
    border: solid 1px #cdcdcd;
    background-color: #f1f1f1;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.proDetail-send .content {
    padding: 10px 10px 10px;
    position: relative;
}
p.btn-gui {
    margin-bottom: 0!important;
    position: absolute;
    top: 10px;
    right: 10px;
}
.content input[type="submit"] {
    background-color: #ed0202;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
}
.content form.wpcf7-form, .content form.wpcf7-form p{
    margin-bottom: 0;
}
.box_right_pro .tel {
    float: left;
    width: 49%;
}
.box_right_pro .tel a {
    display: block;
    background-color: #f58d18;
    padding: 5px 10px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.box_right_pro .face {
    float: right;
    width: 49%;
}
.box_right_pro .face a {
    display: block;
    background-color: #52a7ff;
    padding: 5px 10px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.box_right_pro .tel .cols1, .box_right_pro .face .cols1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.box_right_pro .tel .cols2, .box_right_pro .face .cols2 {
    display: block;
}
.content input[type="tel"] {
    display: block;
    background-color: #ffffff;
    border: solid 1px #cdcdcd;
    color: #767676;
    padding: 3px 5px;
    border-radius: 0;
}
.post_list_col {
    margin-bottom: 25px;
    height: 408px;
    overflow: hidden;
}
.sb_box .media {
    margin-top: 5px;
}
.img-full{
  width: 100%;
  display: block;
  margin: auto;
}
.sb_box button.btn-xemthem{
display: inline-block;
    background: #261511;
    border-radius: 3px;
     padding:1px 5px 2px 5px;
    float: left;
    border: none;
    color:#fff;
    font-size: 11px;
}
.relate_owl button.owl-prev {
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 99;
    outline: none;
}
.relate_owl button.owl-next {
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 99;
    outline: none;
}
.relate_owl .owl-nav .fa {
    font-size: 32px;
    color: #261511;
}
li.cat-item a {
    list-style: none;
    color: #000;
}
li.cat-item {
    list-style: none;
    color: #000;
}
.products-filters li span {
    width: 11px;
    height: 11px;
    display: inline-block;
    background-color: #e5e5e5;
    margin-right: 12px;
    position: relative;
}
.products-filters li.selected span::after {
    content: '';
    position: absolute;
    background-color: #000;
    height: 7px;
    width: 7px;
    top: 2px;
    left: 2px;
}
.sub_cat {
    padding-left: 22px;
}
.sub_cat li.cat-item a {
    font-size: 13px;
}
.sub_cat li.selected span::after {
    content: '';
    position: absolute;
    background-color: #666;
    height: 7px;
    width: 7px;
    top: 2px;
    left: 2px;
}
.tax_list{
  margin-bottom: 25px;
}
.hbox3 {
    padding: 25px;
}
ul.infos li a {
    color: #000;
}
.page_search .fa{
  color:#000;
}
.support {
    position: fixed;
    top: 40%;
    right: -170px;
    z-index: 9999;
}
.support-item {
    width: 220px;
    margin-bottom: 5px;
    border-radius: 99px 0 0 99px;
    padding: 5px;
    font-size: 120%;
    transition-duration: 1s!important;
}
.support-item img {
    border-radius: 100%;
    padding-right: 10px;
    width: 50px;
}
.support-item:hover {
    margin-left: -170px!important;
    transition-duration: 1s!important;
}
.support-item a {
    color: #261511;
    font-weight: bold;
}
.hb_col img,.b3_icon_img img{
    transition: all .5s;
}
.hb_col:hover img ,.b3_icon_img:hover img{
    transform: rotate(360deg);
}
.product_item:hover {
    box-shadow: 0px 1px 5px #ccc;
}
.product_item img {
    transition: all .5s;
}
p.text_price {
    font-size: 18px;
    text-align: center;
    color: #f00;
    margin-bottom: 0;
}
#popup-content {
    width: 900px;
    padding: 20px;
    padding-bottom: 0;
}
h3.title_custom {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 25px 0;
}
.box_action .form-control {
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 6px #e2e2e2 inset;
}
h3.pop_title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
p.booking-send input[type="submit"] {
    background-color: #ed0202;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
}
div#popup-content .pro_info p {
    font-size: 14px;
    line-height: 150%;
    color: #000;
}
.box_action textarea {
    height: 170px;
}
.box_action form {
    margin-bottom: 0;
}
.pd0{
  padding-right: 0;
}

.box_foto {
    position: relative;
}
.img_zoom {
    position: absolute;
    bottom: 80px;
    z-index: 99;
    left: 10px;
}
.icon_zoom {
    width: 39px;
    height: 39px;
}
i.fa.fa-expand {
    font-size: 16px;
    border: 2px solid #c0c0c0;
    padding: 10px 12px;
    border-radius: 100%;
    color: #c0c0c0;
}
.icon_zoom:hover .fa {
    background: #446084;
    border: 2px solid #446084;
    color: #fff;
}
input#s {
    width: 120px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    padding-left: 10px;
}
input#searchsubmit {
    position: absolute;
    top: 11px;
    right: 0px;
    padding: 1px 15px;
    background-image: url(../images/icon-search.png);
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 65%;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
}


/* .tax-product_cat .content_col {
    display: flex;
    display: -webkit-flex;
	flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.tax-product_cat .content_col .page-title {
	order: 2;
	-moz-order: 2;
	-webkit-order: 2;
	-o-order: 2;
	-ms-order: 2;
}
.tax-product_cat .content_col .tax_desc {
	order: 3;
	-moz-order: 3;
	-webkit-order: 3;
	-o-order: 3;
	-ms-order: 3;
}
.tax-product_cat .content_col #result {
	order: 1;
	-moz-order: 1;
	-webkit-order: 1;
	-o-order: 1;
	-ms-order: 1;
} */

.tax-product_cat .content_col .tax_desc {
	height: 95px;
	overflow: hidden;
}
.tax-product_cat .content_col .readmore-close {
	display: none;
}
.tax-product_cat .content_col .readmore, .tax-product_cat .content_col .readmore-close {
    padding: 15px 0;
    text-align: center;
}
.tax-product_cat .content_col .readmore a, .tax-product_cat .content_col .readmore-close a {
    color: red;
    position: relative;
    padding: 0 5px;
}
.tax-product_cat .content_col .readmore a:after, .tax-product_cat .content_col .readmore-close a:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 8px;
    z-index: 1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid red;
}
.tax-product_cat .content_col .readmore a:after {
	border-bottom: none;
	border-top: 5px solid red;
}

