/*-------------------------------------------------------
woocommerce css
-----------------------------------------------------------*/
/* woocomerce style */
.fotorama {
    float: left;
    margin-bottom: 20px;
}
a.button.wc-forward {
    color: #00964d!important;
}
.price-product {
    text-align: center;
    float:left;
        height: 45px;
}

.price-product del {
    display: block;
    float:right;
    padding-left: 15px;
    color: #000;
}
.cutom-woocommerce-product-item-title-and-price h2 a {
    font-weight: normal;
    font-size: 16px;
    clear: both;
    text-align: center;
    color:#444;
}
.cutom-woocommerce-product-item {
 width: 25%;
    float: left;
/*    margin-right: 1.33333%; */  
    text-align: center;
    min-height: 300px;
  /*  margin-bottom: 25px;*/
       /* border: 1px solid #ccc;*/
        padding:10px 0;

}
.cutom-woocommerce-product-item:hover {
    box-shadow: 0 0 10px #ccc;
}
.product-inner {
  position: relative;
  margin:0 10px;
/*  border: 1px solid #ededed;*/
  border-radius: 4px;
   background: #fff;
}
.cutom-woocommerce-product-item:nth-of-type(4n+4) {
    margin-right: 0;
}
 
/*span.amount {
    text-decoration: none;
    color:red;
}*/
 
.cutom-woocommerce-product-item-title-and-price ins {
    text-decoration: none !important;
    font-weight: 700 !important;
    color: #F91111 !important;
}
.product input, .product button,.product select,.product textarea{
/*  background:transparent;*/
}
.quantity input {
    box-shadow: none;
    background: transparent;
    color: #000;
    outline: none;
    vertical-align: -webkit-baseline-middle;
}
select.orderby {
    background: transparent;
    padding: 4px 0;
}
input#coupon_code {
    background: transparent;
    padding: 7px 0;
    border-radius: 4px;
}
#sp{
  position: relative;
}
#dat-hang{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
background: rgba(68, 68, 68, 0.5);
}
#dat-hang:before {
    font-family: "FontAwesome";
    font-size: 20px;
    content: "\f217";
    display: inline-block;
    margin: 0 10px 0 0;
    color: #fff;
}
#sp:hover  #dat-hang {
  display: block;
}
.woocommerce a.button {
    color: #000;
    background: transparent;
    border: 1px solid #efefef;
}
.woocommerce a.button:hover{
  background-color:transparent;
  border-color: #f00;
  color:#f00;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    background: transparent!important;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1;
    box-shadow: none!important;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 0px;
}
.pp_pic_holder.pp_woocommerce{
  top:0!important;
  position: fixed!important;
}
form.woocommerce-product-search input {
    background: transparent;
    border: 1px solid #ccc;
    outline:none;
    padding:5px;
    border-right:none;
}
form.woocommerce-product-search input[type="submit"] {
    position: absolute;
    background:#337ab7;
    color:#fff;
    border-left: none;
}

/*li.cat-item {
    display: block;
    color: #fff;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    border-bottom: 2px solid #6c98e1;
    padding-left: 15px;
    background: #232628;
    text-transform: uppercase;

}*/
/*li.cat-item a{
    color:#fff!important;
}*/
li.sub_cat-item a{
  color:#444;
}
.woocommerce ul.product_list_widget li{
  border-bottom:1px dotted #ccc;
  padding:10px;
}
li.sub_cat-item {
    display: block;
    color: #555555;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    padding-left: 15px;
    background: #ededed;
    border-bottom: 1px solid #ccc;
}
li.sub_cat-item:before {
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f0da";
    display: inline-block;
    margin: 0 10px 0 0;
    color: #444;
}
.sb{
/*  border:1px solid #ccc;*/
  margin-top: 15px;
  padding:0;
}
.woocommerce .woocommerce-breadcrumb{
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    background:#f1f1f1;
        padding: 0;
        margin:-1px 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
 background:#02c422;
/* color:#f00;*/
 text-decoration: underline;
 border-radius:0;
}
/*.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after{
    border-width: 6px 5px;
    border-style: solid;
    border-color:#f1f1f1 transparent transparent transparent;
    z-index: 99;
    bottom: -11px;
    left:45%;
}*/
.woocommerce div.product .woocommerce-tabs ul.tabs{
  overflow: visible;
}
.box-tab .nav-tabs {
 border:none!important;
 background:#ebebeb!important;
}
.box-tab .nav-tabs>li>a{
  color:#000;
  text-transform: uppercase;
    font-weight: 600;
    border-top: 2px solid #f4700c!important;
    border:none;
    border-radius: 0;
}
.box-tab .nav-tabs>li.active>a,.box-tab .nav-tabs>li.active>a:focus,.box-tab .nav-tabs>li.active>a:hover{
  background:#20b04b!important;
  border:none!important;
  border-radius: 0;
  color:#fff;
  border-top: 1px solid #20b04b!important;

}
.nav-tabs {
    border-width: 1px;
    border-style: solid;
    border-bottom-color:transparent;
    border-image: initial;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
  padding: 0px 25px;
  border:none;
  background: none;
  margin: 0 auto;
   /*   -webkit-box-shadow: 4px 8px 16px 2px rgba(0,0,0,.2);
    box-shadow: 4px 8px 16px 2px rgba(0,0,0,.2);*/
    margin-left: -2px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before{
  border: none;
  box-shadow: none!important;
}
.woocommerce #reviews #comments h2 {
    clear: none;
    font-size: 16px;
    margin-top: 0;
}
.woocommerce #reviews #comments p{
  margin-bottom: 0;
}
.woocommerce #review_form #respond textarea{
  border:1px solid #e4e4e4;
}
.woocommerce #review_form #respond .form-submit input{
  background:#f00;
  border-radius: 0;
  color:#fff;
}
.woocommerce div.product .woocommerce-tabs .panel {
    padding: 25px 0px 0 0px;
    box-shadow: none;
}
.wc-tab td, .wc-tab tr{
  padding: 5px 8px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
  color: #fff;
    font-size: 14px;
}
h1.product_title.entry-title{
  color:#337ab7;
}
/*li.cat-item:before{
    font-family: "FontAwesome";
    font-size: 20px;
    content: "\f123";
    display: inline-block;
    margin: 0 10px 0 0;
    color:#337ab7;
}*/
.woocommerce ul.product_list_widget li:before{
    font-family: "FontAwesome";
    font-size: 20px;
    content: "\f123";
    display: inline-block;
    margin: 0 10px 0 0;
    color:#337ab7;
    float:left;
}
.woocommerce span.onsale{
  padding:0;
  top:0;
  left: 0;
  border-radius:0;
  background-color: #c0392b;
  border-radius: 100%;
}
nav.woocommerce-breadcrumb {
    padding-top: 10px!important;
}
.woocommerce nav.woocommerce-pagination ul li a{
  color:#02c422;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background:#02c422;
    color: #ffffff;
}
.woocommerce .products ul, .woocommerce ul.products{
  margin: 0 auto;
}
.woocommerce table.shop_table{
  border-collapse: collapse;
}
table.shop_table.shop_table_responsive.cart {
    background: #fff;
}
.product-title {
    height: 30px;
}
.woocommerce nav.woocommerce-pagination{
  margin-bottom: 20px;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
  padding: .5em 10px;
}
.woocommerce .woocommerce-ordering select{
  margin-right: 15px;
}
.summary.entry-summary {
       background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
   /* padding: 5px 10px;*/
}
.woocommerce div.product p.price {
    color: red;
    padding-top: 10px;
    /*float: left;*/
}
/*button.pro_contact {
    background: #f00;
    border: 1px solid #f00;
    color: #fff;
    padding: 5px 20px;
    font-weight: 600;
    outline: none;
    margin-left: 15px;
}*/
.pro_call {
    position: relative;
}
button.pro_contact {
    background: #f00;
    border: 1px solid #f00;
    color: #fff;
    padding: 5px 20px;
    font-weight: 600;
    outline: none;
    /* margin-left: 15px; */
    position: absolute;
    right: 42%;
    top: -37px;
}
.product_meta a,.product_meta {
    font-size: 13px;
    color: #777;
    font-style: italic;
}

span.text-uppercase.contact {
    font-weight: 600;
}
.woocommerce div.product .product_title {
    font-size: 20px;
    color:#20b04b;
    font-weight: 600;
}
li.cat-item span,li.sub_cat-item span {
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: #a2a2a2;
    margin-right:10px;
    float: right;
    margin-top: 10px;
}
li.cat-item span:hover,li.sub_cat-item span:hover {
    background: #000;
}
/*.product-inner:hover {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}*/
.woocommerce-tabs.wc-tabs-wrapper {
    text-align: justify;
}
.sub_cat {
    border-bottom: 1px solid #ededed;
}

.product_featured ul.featuredelly li {
    font-size: 13px;
    margin-top: 10px;
}
.product_featured ul.featuredelly li.spcl:before {
    content: "\f087";
    margin-right: 10px;
}
.product_featured ul.featuredelly li span {
    display: block;
}
.product_featured span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}
.product_featured ul.featuredelly li.pvcct:before {
    content: "\f0d1";
    margin-right: 10px;
}
.product_featured ul.featuredelly li:before {
    font-family: 'FontAwesome';
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ededed;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}
.product_featured ul.featuredelly li.dhmp:before {
    content: "\f021";
    margin-right: 10px;
}
div[product="details"] .summary > div {
    padding: 5px 20px;
}
ul.fastcontact li {
    font-size: 14px;
    color: #555;
}
ul.fastcontact li.phone:before {
    content: "\f0e6";
    margin-right: 10px;
}
ul.fastcontact li.timeopen:before {
    content: "\f017";
    margin-right: 10px;
}
ul.fastcontact li.email:before {
    content: "\f003";
    margin-right: 10px;
}
ul.fastcontact li:before {
    font-family: 'FontAwesome';
    display: inline-block;
    float: left;
}
ul.fastcontact {
    padding:5px 20px;
    border-bottom:1px dotted #ddd; 
}
ul.featuredelly {
    padding: 0 20px;
}
li.dhmp {
    padding-bottom: 10px;
}
.woocommerce div.product form.cart{
  margin-bottom: 5px;
  position: relative;
}
.product_meta {
    padding: 5px 0px;
    clear: both;
    text-align: justify;
}
.pp_top{
  height: 120px!important;
}
.summary.entry-summary p {
    padding-bottom:5px;
}
.woocommerce span.onsale {
    background: #c0392b;
    line-height: 40px!important;
}
.product .onsale {
  width: 40px!important;
    height: 40px!important;
    font-size: 24px;
    line-height: 1;
    min-height: auto!important;
    min-width: auto!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #c0392b;
    top: 10px;
}
.woocommerce span.onsale {
  display: none;
    width: 30px;
    height: 30px;
    padding: .202em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    margin: 0;
    border-radius: 100%;
    background-color: #c0392b;
    color: #fff;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    z-index: 9;
}
div#tab-description h2 {
    display: none;
}
/*.woocommerce-tabs .panel{
  background-color: rgba(255,255,255,0.5)!important;
  overflow: scroll;
}*/
a.added_to_cart.wc-forward {
    color: #20b04b!important;
}
.print-order {
    border: 0;
    background: rgba(68, 68, 68, 0.25);
    padding: 5px 10px;
    border-radius: 4px;
    display: block;
    margin: auto;
}
.term-description {
    border-bottom: 1px dashed #ddd;
        text-align: justify;
}
.pro-head{
  background-image: url(../images/head_sp.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
}
.cart a {
    color: #fff;
}
/*.cart{
  margin-top: 12px;
}*/
.cart i.fa {
    font-size: 1.5em;
}
.cart span.woocommerce-Price-amount.amount {
    color: #fff;
}
.listing-car-item-meta {
/*    padding-top: 10px;*/
}
.car-meta-top {
    padding-bottom: 10px;
    height: 65px;
}
#sp img {
    height: 240px;
    width: auto;
}
.listing-car-item-meta .price {
    position: relative;
    background-color: transparent;
    text-align: center;
    color:#777;
    display: inline-flex;
}
/*.listing-car-item-meta .price:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: -5px;
    height: 100%;
    width: 10px;
    background-color:#cc6119;
    -webkit-transform: skew(-14deg,0deg);
    transform: skew(-14deg,0deg);
    z-index: 5;
}*/
.listing-car-item-meta .price .normal-price {
    line-height: 0;
}
.listing-car-item-meta .price .normal-price, .listing-car-item-meta .price .sale-price {
    color: #fff;
    font-size: 14px;
}
.listing-car-item-meta .price .regular-price, .listing-car-item-meta .price .sale-price,.listing-car-item-meta .price .normal-price {
    position: relative;
    z-index: 6;
}
.listing-car-item-meta .car-title {
    color: #232628;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    padding-left: 5px;
    height: 40px;
    padding-top: 2px;
    overflow: hidden;
}
.car-title a {
    color:#20b04b;
}
.car-meta-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.woocommerce .products .star-rating {
    display: block;
    margin: auto;
}
span.sku {
    float: left;
    margin-top: 10px;
    font-weight: 600;
    margin-left: 4px;
}
del {
    display: inherit;
    padding: 0;
    line-height: 20px;
}

ins {
    display: inherit;
    line-height: 20px;
}
/*-------------------------------------------
Responsive woocomerce
--------------------------------------------*/
@media screen and (max-width:400px){
.price-product ins,.price-product del{
  margin-left: 0!important;
}
div#sp img{height: 120px!important;}
span.zero_price,span.woocommerce-Price-amount.amount{font-size: 12px;}

.car-title a{font-size: 10px;}
.cutom-woocommerce-product-item{
  width: 100%!important;
/*  margin-bottom:10px;*/
}
}
@media screen and (max-width:480px){

  .price-product ins,.price-product del{
  margin-left: 0!important;
}
span.zero_price{padding-top: 20px!important;}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  width: 100%!important;
}

.car-title a{font-size: 12px;}
}

@media screen and (max-width: 768px){
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  width: 100%!important;
}
.woocommerce-tabs .panel {
    overflow: scroll;
}
/*table.shop_table.shop_table_responsive.cart{
border-collapse:collapse; table-layout:fixed;
}*/
.shop_table.shop_table_responsive{overflow: scroll;}
.shop_table.shop_table_responsive tbody{overflow: scroll;}
nav.woocommerce-MyAccount-navigation {
    width: 100%!important;
    margin-bottom: 25px;
}
td.btn_check:before {
    display: none;
}
td.money_total:before {
    display: none;
}
/*.shop_table_responsive {table-layout: fixed;}*/
.cart_left td {
    width: 100%!important;
    display: block;
}
table.shop_table.shop_table_responsive.cart {
    width: 1px;
    min-width: 100%;
    *with:100%;
}
.product_relate .owl-nav {
    position: absolute;
    top: -40px;
    right: 0;
}
.product_relate .owl-prev {
    right: 40px;
    margin-top: -14px;
    color: #777;
    font-size: 10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{padding: 0 8px;}
.relative_cate{display: none;}
.product_relate .owl-next {
  color: #777;
    font-size: 10px;
    margin-left:20px;
    margin-top: -14px;
}
.cutom-woocommerce-product-item{
  width: 50%!important;
  /*margin-bottom:10px;*/
min-height: 50px;}
.car-meta-top{height: auto;padding-bottom: 0;}
  #sp img{height: auto;}
}

  .woocommerce-result-count {
    display: none;
}
}
.price-product{
  height: auto;
}
.soluong{
  height: 90px;
}
a.button.wc-forward{
  float:left!important;
  width: 100%;
  margin-top: -5px;
  border:none;
}
/* .woocommerce-cart table.cart .product-thumbnail{display:none!important}*/
.woocommerce-message{margin-bottom: 0;}
table.shop_table.shop_table_responsive.cart{
  max-width: 100%;
}
.woocommerce-cart table.cart img{
  width: 105px;
}

.woocommerce div.product form.cart{
  padding: 0;
}
/*.woocommerce div.product form.cart .button{
  width: 100%!important;
}*/
.woocommerce span.onsale{
  display: none!important;
}
select.orderby {
    display: none;
}

}
@media screen and (max-width: 992px){
  .sidebar_col{
    display: none!important;
  }
/*  #sp img{height: 150px!important;}*/
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{width: 44%;}
}
/*-------------------------------------------
end css woocomerce
-----------------------------------------*/


/*-----------------slider
*/
.button.stm-slider-button {
  padding: 10px 25px 10px 45px;
  font-weight: 700;
  visibility: inherit;
  white-space: nowrap;
  border-radius: 4px; 
background:#6c98e1;}
a.button.stm-slider-button{
    color:#fff!important;
    text-transform: uppercase;
}
.button.stm-slider-button i {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 18px;
  margin-top: -9px; }
.slider-v1-title .h1 {
  font-size: 46px;
  color: #121e24;
  font-weight: 400 !important; }

.stm-slider-rounded-style-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700; }

.stm-slider-rounded-style-title.text-left {
  padding-left: 37px; }

.stm-slider-rounded-style-title.style-2 span {
  display: block; }
.rev_slider_wrapper .heading-font {
  letter-spacing: 0 !important; }

.text-transform {
  text-transform: uppercase; }

.font-weight-normal {
  font-weight: 400 !important; }

.slider-text-padding-right {
  padding-right: 30px; }

.stm-slider-round-text {
  margin-top: 18px;
  padding-left: 40px;
  padding-right: 25px;
  font-size: 11px;
  line-height: 14px;
  color: #121e24;
  text-transform: uppercase; }

.stm-slider-price-unit {
  padding-top: 16px;
  vertical-align: top;
  word-spacing: -9px; }

.stm-slider-price-unit .stm-slider-currency {
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  vertical-align: top; }

.stm-slider-price-unit .stm-slider-price {
  font-size: 106px;
  line-height: 75px;
  vertical-align: top;
  color: #fff;
  font-weight: 700;
  letter-spacing: -6px; }

.stm-slider-price-unit .stm-slider-divider {
  position: relative;
  left: 3px;
  top: -4px;
  font-size: 50px;
  color: #121e24;
  vertical-align: top;
  line-height: 50px; }

.stm-slider-price-unit .stm-slider-labels {
  position: relative;
  top: -3px;
  display: inline-block;
  max-width: 100px;
  vertical-align: top;
  line-height: 14px;
  color: #121e24;
  font-weight: 700; }

.stm-slider-price-unit .stm-slider-labels .stm-slider-time-label {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700; }

.stm-slider-price-unit .stm-slider-labels .stm-slider-time-value {
  padding-left: 4px;
  display: block;
  white-space: normal;
  font-size: 16px;
  line-height: 14px;
  word-spacing: 0;
  text-transform: uppercase;
  font-weight: 700; }
.button-call-now{
  width: 293px;
    height: 69px;
    border-radius: 3px;
    background: #1f983d;
    font-size: 12.5px;
    color: #fff;
    border: none;
    text-align: center;
    clear: both;
    display: block;
    outline: none;
        margin: auto;
    text-align: center;
    display: block;
}
.button-call-now span.text-large{
font-size: 17.5px;
    font-weight: bold;
    padding-top: 13px;
    display: block;
}
.button-call-now span.text-small{
  display: block;
}
.product_sharing:hover a {
    color: #fff!important;
}
.soluong {
   clear: both;
    margin-top: 10px;
}
.woocommerce div.product form.cart .button {
    position: unset;
    font-size: 14px;
    border: none;
    background:#f00!important;
    text-align: center;
    outline: none;
    border-radius: 0;
}
.woocommerce div.product form.cart .button span.text-small {
    display: block;
    font-size: 12px;
    font-weight: 400;
}
span.sl {
    float: left; 
        margin-right: 5px; 
            margin-top: 5px;  
}
.woocommerce .quantity .qty{font-weight: 600;}
.itempro p {
    text-align: justify;
}
.price-product ins {
    float: left;
    font-size: 16px;
}
/*.price-product del {margin-left: 70px;}*/
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background-color:#f36d21;
  color: #fff!important;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
/*    background-color: #4fa54a;
    color: #fff;*/
}
.woocommerce-info {
    border-top-color: #1f983d;
}
.woocommerce-info::before {
    color: #1f983d;
}
/******************************************************/
.woocommerce-product-gallery {
position: relative;
margin-bottom: 3em
}

.woocommerce-product-gallery figure {
margin: 0
}

.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
width: 25%;
display: inline-block
}

.woocommerce-product-gallery .flex-control-thumbs li {
list-style: none;
float: left;
cursor: pointer
}

.woocommerce-product-gallery .flex-control-thumbs img {
opacity: .5
}

.woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover {
opacity: 1
}

.woocommerce-product-gallery img {
display: block
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
width: 33.3333%
}

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
width: 25%
}

.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
width: 20%
}

.woocommerce-product-gallery__trigger {
position: absolute;
top: 1em;
right: 1em;
z-index: 99;
}

a.woocommerce-product-gallery__trigger {
text-decoration: none;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
position: absolute;
top: .875em;
right: .875em;
display: block;
height: 2em;
width: 2em;
border-radius: 3px;
z-index: 99;
text-align: center;
text-indent: -999px;
overflow: hidden;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
background-color: #169fda;
color: #ffffff;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
background-color: #1781ae;
border-color: #1781ae;
color: #ffffff;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
font: normal normal normal 1em/1 FontAwesome;
font-size: inherit;
text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
display: block;
content: "\f00e";
line-height: 2;
text-indent: 0;
}

span.text-uppercase.fast {
    font-weight: 600;
}
span.woocommerce-Price-amount.amount {
    color: #f00;
    padding-left:0px;
    margin-top: 10px;
        font-weight: 600;
}
span.posted_in a,span.posted_in {
    color: #777;
    font-style: italic;
    font-size: 13px;
}

.normal-price del .amount {
    color: #777;
    padding-right: 15px;
}
.normal-price ins {
    color: #f00;
    font-weight: 600;
}
.cart_item .product-name a {
    font-weight: bold;
    color: #000;
}

.cart_item .product-price span {
    color: #000!important;
}
.cart_item .product-subtotal span {
    color: #f00!important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
height: 25px;
opacity: 1;
}
.woocommerce .quantity .qty{
  padding: 0!important;
  outline:none;
  vertical-align: top;
}
.summary.entry-summary .minus, .summary.entry-summary .plus {
    margin-top: -12px!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{color:#fff!important;}
/*input.minus ,input.plus{
  display: none;
}*/
/*hover single-product*/
.producy_hover{position: absolute;
background-color: #fff;
color: red;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;}
.col-inner:hover > .producy_hover{display: block;}
.game{
  background-image: url(../images/game.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  right: 0;
      width: 60px;
    height: 34px;
}

.render{
  background-image: url(../images/render.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  right: 0;
      width: 60px;
    height: 34px;
}

.left-pro {
    margin-top: 20px;
}
.woocommerce div.product span.price del {
    opacity: .5;
    color: #777;
}
.related.products {
    margin-bottom: 20px;
}
.related.products img{margin-top: 10px;}
.taxonomy_product .cutom-woocommerce-product-item{
  width: 32%;
}
.itempro {
    border-bottom: 1px solid #ccc;
        padding: 5px 0;
}
.related.products h2 {
    font-size: 18px;
    color:#20b04b;
    padding-bottom: 15px;
}
.itempro p {
    margin-bottom: 0!important;
}

img.fotorama__img {
    display: block;
    margin: auto;
}/*.rating_share .star-rating {
    float: left!important;
    width: 100%;
    margin-left: 20px;
}
*/
.woocommerce .star-rating{
  float:none!important;
      margin-top: 5px;
}
ul.like_share li {
    float: left;
    width: 50%;
}
.rating_share {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.crum nav.woocommerce-breadcrumb {
    display: none;
}
p.price del span {
    color: #000!important;
}
.woocommerce .star-rating::before{
  color:#FF9800!important;
}
span.zero_price {
    color: #f00;
    font-weight: 600;
    padding-top: 10px;
}
.taxonomy_product.content_woo {
    margin-top: 10px;
}
.relate_rating {
    text-align: left!important;
    float: left;
    margin-top: 10px;
}
.row.singel_pro_tab_sidebar {
    position: unset!important;
}
.car-meta-bottom {
    margin-top: 15px;
}
p.price.single_pro {
    margin-bottom: 0;
}
.woocommerce-loop-product__title{
  text-align: center;
}
ul.products span .woocommerce-Price-amount{text-align: center!important;display: block;}
h2.woocommerce-loop-product__title {
    color:#20b04b;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0.51em;
    display: inline-flex;
}
span.note {
    color: #777;
    font-style: italic;
}
.woocommerce ul.products li.product .star-rating {
    font-size: .857em;
}
.woocommerce .products ul, .woocommerce ul.products li {
    text-align: center;
}
.star-rating {
    color: #f44336;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 32%;
    margin-right: 1.3%;
    border: 1px solid #e4e4e4;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.woocommerce ul.products li.product .star-rating {
    font-size: .857em;
    display: none;
}
.sb_pro {
    margin: 10px 0;
    border: 1px solid #e4e4e4;
    padding-bottom: 15px;
}
.woocommerce .woocommerce-result-count {
    margin: 0 0 1em;
    font-weight: 600;
}
.woocommerce ul.products li:hover a.button {
    background-color: transparent;
    border-color: #f00;
    color: #f00;
}
.related ul.products li {
    width: 100%!important;
}
.woocommerce .woocommerce-ordering select {
    margin-right: 15px;
    color: #777;
    font-weight: 300;
    outline:none;
}
span.tagged_as {
    display: block;
    font-style: italic;
}
.tagged_as a{color:#333;}
.tagged_as a:hover{color:#20b04b;}

.wc-tab ul{
padding-left: 2em;
}
.wc-tab ul li {
    list-style: initial;
}
.woocommerce table.shop_table tbody:first-child tr td {
    border-bottom: 0;
}


.sb_pro .price,.pagebox .price {
    font-size: 14px;
}
div#sp:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
    cursor: pointer;
}
#sp{
  overflow: hidden;
}
div#sp img {
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
}
.woocommerce ul.products li.product span.price {
    margin-top: 10px;
}
.pro_cat_relate ul li {
    float: left;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 25px 25px 0;
}
.relative_cate h4 {
  font-size: 14px;
    padding: 5px 15px;
    color: #000;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0dfd0;
}
.relative_cate h4:hover {
    background: 0 0;
}
.relative_cate h4{
    background: #e0dfd0;
    text-transform: uppercase;
    float: left;
    font-weight: 400;
}
.relative_cate {
    margin-bottom: 25px;
    float: left;
}
.product_relate .owl-nav.disabled {
    display: block!important;
}
/*.product_relate .owl-nav{
  position: absolute;
  top:50%;
}*/
.product_relate .owl-nav .owl-prev{
border: 1px solid #ccc;
    padding: 10px;
      position: absolute;
  top:45%;
}
.product_relate .owl-nav .owl-next{
  border: 1px solid #ccc;
    padding: 10px;
  position: absolute;
  top:45%;
  right:0;
}

h1.cart-page-title {
    padding: 15px 10px;
    background: #ffffff;
    color:#fd1e00;
    text-transform: uppercase;
    font-size:20px;
}
.car-meta-bottom .btn {
    background: transparent;
    border:none;
}
.sb_box .car-meta-bottom button{
    display: block;
    margin: auto;
}
.box1 .owl-prev, .box2 .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
.box1 .owl-next,.box2 .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-right:0;
    background: rgba(0, 0, 0, 0.1);
}
.box1 .tab-content,.box2 .tab-content,.box_lk .tab-content {
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-left: 0;
}
.products .owl-item.active .item li {
    border-left: 1px solid #e5e5e5;
}

.pro_hslider:hover {
    box-shadow: 0 0 10px #ccc;
}
div#linh-kien .cutom-woocommerce-product-item {
    border-left: 1px solid #e5e5e5;
}
.pro_hslider img {
    display: block;
    margin: auto;
}


.lpk .cutom-woocommerce-product-item {
    border-right: 1px solid #e5e5e5;
}
.products .owl-item.active:last-child li {
    border-right: 1px solid #e5e5e5;
}
.woocommerce table.shop_table th {
    text-transform: uppercase;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
.woocommerce table.shop_table td{font-size: 14px;}
td.product-remove {
    border: none;
}
.woocommerce a.remove{border-radius: 100%;
    margin: auto;}
td.actions input.button {
    background: #02c422;
    color: #fff!important;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover{
    background: #02c422;
}
.woocommerce input.button:disabled {
    opacity: 1!important;
    background-color: #02c422;
}
td.total-all span {
    color: #f00!important;
}
td.total-all {
    text-align: center;
}
.table_sf{margin-bottom: 0!important}
.table_sf {
    border: none!important;
}
tr.order-total td {
    border: none;
}
a.checkout-button.button.alt.wc-forward.proces_check {
    text-align: center;
    padding: 10px 0;
}
td.actions input.button {
    text-align: center;
    display: block;
    margin: auto;
}
tr.order-total td {
    font-weight: bold;
}
td.actions {
    border-left: 0;
}
.cart_left{
  width: 75%;
  float:left;
}
.cart_right{width: 25%;float:right;}
.woocommerce table.shop_table{border-right:0;border-bottom: 0!important;}
.woocommerce .quantity .qty{width: 2.6em;border-color:#e5e5e5;}
.woocommerce ul.order_details li{margin:0 15px!important;}


/*------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/
/*CSS MY ACOUNT*/
.acount .single-title {
    background:#02c422;
    padding: 10px;
    color: #fff
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 25%;
    border:1px solid #e5e5e5;
    background: #edf9f3;
}
nav.woocommerce-MyAccount-navigation ul li a {
    color: #000;
}
nav.woocommerce-MyAccount-navigation ul li:hover a{
    color: #f00;
}
nav.woocommerce-MyAccount-navigation ul li{position: relative;}
nav.woocommerce-MyAccount-navigation ul li{list-style: none;}
nav.woocommerce-MyAccount-navigation ul li a:before{
      font-family: "FontAwesome";
    display: inline-block;
    margin: 0 10px 0 0;
    color:#02c422;
    width: 15px;
}
nav.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px dashed #e5e5e5;
}
nav.woocommerce-MyAccount-navigation ul li:first-child{border-top:1px dashed #e5e5e5;}
nav.woocommerce-MyAccount-navigation ul li:nth-child(1) a:before{
      content: "\f0e4";
}
nav.woocommerce-MyAccount-navigation ul li:nth-child(2) a:before{
      content: "\f2b0";
}
nav.woocommerce-MyAccount-navigation ul li:nth-child(3) a:before{
      content: "\f0ed";
}
nav.woocommerce-MyAccount-navigation ul li:nth-child(4) a:before{
      content: "\f2bc";
}
nav.woocommerce-MyAccount-navigation ul li:nth-child(5) a:before{
      content: "\f05a";
}
nav.woocommerce-MyAccount-navigation ul li:nth-child(6) a:before{
      content: "\f08b";
}
nav.woocommerce-MyAccount-navigation ul {
    padding-left: 15px;
    padding-right:15px;
}
nav.woocommerce-MyAccount-navigation ul li:hover{
/*	border-bottom: 3px solid #ccc;
	background: #e5e5e5;*/
}
.woocommerce-MyAccount-content>p {
    color:#02c422;
}
.woocommerce table.my_account_orders .button {
    white-space: nowrap;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: 20px;
    background: #f00;
    color: #fff;
}
table.woocommerce-orders-table thead>tr {
    background:#02c422;
    color:#fff;
}
td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number a {
    color: #f00;
}
table.woocommerce-orders-table thead>tr th{padding-top: 15px 0;}
.woocommerce-account .addresses .title .edit {
    margin-top: 20px;
    position: relative;
}
.woocommerce-account .addresses .title .edit:before {
        font-family: "FontAwesome";
    display: inline-block;
    margin: 0 5px 0 0;
    color: #337abe;
    content: "\f044";
}
.woocommerce-Address header h3{
	font-size: 18px;
}
.woocommerce-Message.woocommerce-Message--info.woocommerce-info a.button {
    background: #02c422;
    color: #fff;
}
.woocommerce-MyAccount-content legend {
    border-bottom: 1px dashed #e5e5e5;
    font-size: 18px;
    font-style: italic;
    padding-top: 25px;
    color: #02c422;
}
input.woocommerce-Button.button {
    background: #02c422;
    color: #fff;
    margin-right: 15px;
    outline:none;
}

#customer_login h2 {
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
#customer_login h2:after {
    content: "";
    display: block;
    border-bottom: 3px solid #02c422;
    width: calc(50% - 5px);
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: -2px;
}
p.woocommerce-LostPassword.lost_password {
    padding-left: 5px;
}
#customer_login h2:before {
  font-family: "FontAwesome";
    content: "\f090";
    display: inline-block;
    margin: 0 10px 0 0;
    color:#02c422;
}
table.woocommerce-orders-table tbody tr{background: #fff!important;}
/*table.woocommerce-orders-table tbody tr:nth-child(2) {
    background:#ffffff;
}
table.woocommerce-orders-table tbody tr:nth-child(6) {
    background:#ffffff;
}
table.woocommerce-orders-table tbody tr:nth-child(8) {
    background:#ffffff;
}
table.woocommerce-orders-table tbody tr:nth-child(10) {
    background:#ffffff;
}
table.woocommerce-orders-table tbody tr:nth-child(12) {
    background:#ffffff;
}
table.woocommerce-orders-table tbody tr:nth-child(14) {
    background:#ffffff;
}
table.woocommerce-orders-table tbody tr:nth-child(16) {
    background:#ffffff;
}*/
h2.woocommerce-column__title,h2.woocommerce-order-details__title {
    font-size: 16px;
}
/*END MY ACOUNT */
/*------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

.pro_hslider .car-meta-bottom {
    padding-bottom: 15px;
}
input#createaccount {
    margin: 7px 0px 0 -15px;
}
input#createaccount span {
    margin-left: 15px;
}
.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox{margin-left: 15px;}
.woocommerce-checkout #payment{background:transparent!important;}
 .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    font-weight: 700;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details a {
    color: #000!important;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details a:hover{
    color: #f00!important;
}
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    text-align: center;
}
.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 74%;
    padding: 15px;
    border: 1px solid #e5e5e5;
    background: #edf9f3;
    min-height: 217px;
}
address {
    border-left: 3px solid #ccc;
    padding-left: 15px;
    margin-bottom: 5px;
    font-style: normal;
    line-height: 1.42857143;
    background: #fefefe;
    padding: 10px 15px;
    color: #777;
    font-weight: 300;
}
.woocommerce-account .addresses .title a.edit {
    font-weight: 300;
    color: #999;
}
.woocommerce-account .addresses .title .edit:before{
    color:#999;
}
.woocommerce-address-fields input.button {
    background: #02c422;
    color: #fff;
}
.woocommerce-MyAccount-content h3 {
    margin-top: 0;
    font-size: 18px;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    margin-bottom: 0!important;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    background-color: #f36e21!important;
    color: #ffffff!important;
}